# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Potential credential files
*.env.json
*.CLIENTconfig.json
config.json
AWSconfig.json
.well-known
ecs-creds.yml

# Others
BIGFILE
cookiefile
types.db
temp
.DS_Store