# Dependency directories
node_modules
/ECS-collectd/node_modules

# Optional npm cache directory
.npm

# Potential credential files
*.env.json
*.CLIENTconfig.json
config.json
AWSconfig.json
.well-known
ecs-creds.yml

# Others
BIGFILE
cookiefile
temp
.DS_Store
*.old
*.orig